body {
  margin: 0;
  font-family: Helvetica;
  color: #0D3849;
  background-color: #FFFFFF;
}

h1 {

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E7F195;
  /* position: fixed;
  top: 0; */
}

li {
  float: left;
}

li a {
  display: block; 
  color: #106F7A;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #D2E53A;
}

.active {
  background-color: #68DDEB;
}

.hero-image {
  height: 300px;
  width: auto;
}