body {
  margin: 0;
  font-family: Helvetica;
  color: #0D3849;
  /* background-color: #DBF8C9; */
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFBE7;
}

li {
  float: left;
}

li a {
  display: block;
  color: #106F7A;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #E78EA9;
}

.active {
  background-color: #40DFEF;
}

.hero-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 20px;
}

.flex-container__height-600 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.flex-container__box-align-right {
  text-align: right;
}

.green-box {
  position: relative;
  background-color: #B9F8D3;
  height: 200px;
}

.text-bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.font__courier-new {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  font-weight: bolder;
}

.green-text {
  color: #00A8B5;
}

.purple-text {
  color: #774898;
}

.pink-text {
  color: #E62A76;
}

.yellow-text {
  color: #FBB901;
}

.sushi {
  height: 100px;
  width: 100px;
  padding: 50px;
  border-color: #069A8E;
  border-width: 10px;
  border-radius: 50%;
  border-style: solid;
}

.flex-container__align-center {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.code-snippet {
  width: 700px;
  border: 1px dotted grey;
}

.sushi-image {
  width: 300px;  
}

.flex-container__align-left {
  position: relative;
  /* align-items: center; */
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  margin: 10px;
}

blockquote p::before,
blockquote p::after {
  content: '"';
  
}

.img_600-width {
  width: 600px;
}

.img_500-width {
  width: 500px;
}

.img_400-width {
  width: 400px;
}

.img_300-width {
  width: 300px;
}

.img_200-width {
  width: 200px;
}

.img_100-width {
  width: 100px;
}

.img_object-fit-cover {
  width: 200px;
  /* object-fit: cover; */
  border: 5px solid black;
  overflow: hidden;
}

.div_container-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
}

.sisters {
  width: 100px;
}

button {
	box-shadow:inset 0px 1px 0px 0px #bbdaf7;
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	background-color:#79bbff;
	border-radius:6px;
	border:1px solid #84bbf3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* font-family:Arial; */
	font-size:15px;
	/* font-weight:bold; */
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

button:hover {
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

button:active {
	position:relative;
	top:1px;
}