body {
  margin: 0;
  font-family: Helvetica;
  color: #0D3849;
  /* background-color: #DBF8C9; */
  display: flex;
  flex-direction: column;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFBE7;
}

li {
  float: left;
}

li a {
  display: block;
  color: #106F7A;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: #E78EA9;
}

.active {
  background-color: #40DFEF;
}

.hero-image {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 20px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 600px;
}

.flex-container__box-align-right {
  text-align: right;
}

.green-box {
  position: relative;
  background-color: #B9F8D3;
  height: 200px;
}

.text-bottom {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.greeting {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 3em;
  font-weight: bolder;
}

.green-text {
  color: #00A8B5;
}

.purple-text {
  color: #774898;
}

.pink-text {
  color: #E62A76;
}

.yellow-text {
  color: #FBB901;
}